# 忽略虛擬環境
venv/
eric/


# Python 編譯暫存檔
__pycache__/
*.py[cod]

# 編輯器/IDE 設定檔
.vscode/
.idea/

# 環境變數與憑證
.env
*.env

# 測試檔案
*.xlsx

# build 產物（PyInstaller / 打包）
/build/        
/dist/        
/*.spec        
/zoom.ico >>>>>>> main